@model QLTYT.ViewModel.MutipleData2
@{
    ViewBag.Title = "SuaDoiPhong";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <title>Sửa đổi phòng</title>
    <link href="~/css/asset/style1.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="title">
            Sửa đổi phòng
        </div>
        <form method="post" action="SuaDoiVacXin">
            @foreach (var item in Model.phongs)
            {
                <div class="field">
                    <input type="hidden" name="IdPhong" value="@item.IdPhong" readonly>

                </div>
                <br />
                <div class="select">
                    <select name="IdLoaiPhong" id="format">
                        @foreach (var item1 in Model.loaiPhongs)
                        {
                            <option value="@item1.IdLoaiPhong" @(item1.IdLoaiPhong == item.IdLoaiPhong ? "selected" : "")>@item1.TenLoaiPhong</option>
                        }
                    </select>
                </div>
                <br />
                <div class="field">
                    <input type="text" name="TenPhong" value="@item.TenPhong">
                    <label>Tên phòng</label>
                </div>
                <br />
                <div class="select">
                    <select name="TinhTrang" id="format">
                        <option value="@item.TinhTrang" @(item.TinhTrang == item.TinhTrang ? "selected" : "")>@item.TinhTrang</option>
                        <option value="Hoạt động">Hoạt động</option>
                        <option value="Tạm ngưng">Tạm ngưng</option>
                    </select>
                </div>
                <br />
                <div class="field">
                    <input type="submit" value="Cập nhật">
                </div>
                <div class="signup-link">
                    <a href="/Phong/ThongTinPhong">Quay lại</a>
                </div>
            }
        </form>
    </div>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: #fff;
            font-family: 'Open Sans', sans-serif;
            color: #fff;
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            outline: 0;
            box-shadow: none;
            border: 0 !important;
            background: #5c6664;
            background-image: none;
            flex: 1;
            padding: 0 .5em;
            color: #fff;
            cursor: pointer;
            font-size: 1em;
            font-family: 'Open Sans', sans-serif;
        }

            select::-ms-expand {
                display: none;
            }

        .select {
            position: relative;
            display: flex;
            width: 20em;
            height: 3em;
            line-height: 3;
            background: #5c6664;
            overflow: hidden;
            border-radius: .25em;
        }

            .select::after {
                content: '\25BC';
                position: absolute;
                top: 0;
                right: 0;
                padding: 0 1em;
                background: #2b2e2e;
                cursor: pointer;
                pointer-events: none;
                transition: .25s all ease;
            }

            .select:hover::after {
                color: #23b499;
            }
    </style>
</body>
</html>


