@model QLTYT.ViewModel.MultipleData
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<link href="~/Content/Admin.css" rel="stylesheet">
<style>
  input[type="text"] {
    width: 100%
  }
</style>
<div class="table-title">

  <h2> Chỉnh sửa thông tin Vacxin</h2>
  <br />
  <br />
  <br />
  <form method="post" action="SuaDoiVacXin">
    @foreach (var item in Model.vacXins)
    {
        <div class="field">
          <input type="hidden" name="IdVacXin" value="@item.IdVacXin" readonly>
        </div>
        <label>Tên bệnh</label>
        <select id="disease-list" name="IdBenh" class="form-select">
          @foreach (var item1 in Model.benhs)
          {
            <option value="@item1.IdBenh" @(item1.IdBenh == item.IdBenh ? "selected" : "")>@item1.TenBenh</option>
          }
        </select>
        <br/>
        <div class="field">
          <label>Tên vắc xin</label>
          <input type="text" name="TenVacXin" value="@item.TenVacXin">
        </div>
         <br/>
        <div class="field">
          <label>Liều lượng</label>
          <input type="text" name="LieuLuong" value="@item.LieuLuong">
        </div>
         <br/>
        <div class="field">
          <label>Đơn vị</label>
          <input type="text" name="DonVi" value="@item.DonVi">
        </div>
         <br/>
        <div class="field">
          <label>Đơn giá</label>
          <input type="text" name="DonGia" value="@item.DonGia">
        </div>
         <br/>
        <div class="field">
          <label>Số lô</label>
          <input type="text" name="SoLo" value="@item.SoLo">
        </div>
         <br/>

      <div class="form-group" style="justify-content:space-between">
        <div class="col-md-offset-2 col-md-10">
          <button class="btn btn-secondary">
            @Html.ActionLink("Quay lại", "ThongTinPhong")
          </button>
          <button class="btn btn-primary" type="submit" data-toggle="tooltip" data-placement="top"
                  title="Lưu ">
            Lưu
          </button>
        </div>

      </div>      
      }
  </form>
</div>

