@model QLTYT.Models.TrieuChung

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Admin.css" rel="stylesheet">
<div class="table-title">

  <h2>Thêm mới triệu chứng</h2>
  <Br>
  <br />
  @using (Html.BeginForm())
  {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      <div class="form-group">
        Tên triệu chứng
        <div class="col-md-10">
          @Html.EditorFor(model => model.TenTrieuChung, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.TenTrieuChung, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group" style="justify-content:space-between">
        <div class="col-md-offset-2 col-md-10">
          <button class="btn btn-secondary">
            @Html.ActionLink("Quay lại", "Index")
          </button>
          <button class="btn btn-primary" type="submit" data-toggle="tooltip" data-placement="top"
                  title="Tạo mới ">
            Tạo mới
          </button>
        </div>

      </div>
    </div>
  }


</div>