@model QLTYT.ViewModel.MutipleData2
@{
    ViewBag.Title = "TaoPhieuTiemChung";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <title>Tạo phiếu tiêm chủng</title>
    <link href="~/css/asset/style1.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

</head>
<body>
    <div class="wrapper">
        <div class="title">
            Tạo phiếu tiêm chủng
        </div>
        <form method="post" action="TaoPhieuTiemChung">
            <div class="select">
                <select name="IdNhanVien" id="format">
                    @foreach (var item in Model.nhanViens)
                    {
                        <option selected disabled>Tên nhân viên</option>
                        <option value="@item.IdNhanVien">@item.HoTen</option>
                    }
                </select>
            </div>
            <br />
            <div class="select">
                <select name="IdPhong" id="format">
                    @foreach (var item in Model.phongs)
                    {
                        <option selected disabled>Tên phòng tiêm chủng</option>
                        <option value="@item.IdPhong">@item.TenPhong</option>
                    }
                </select>
            </div>
            <br />
            <div class="select">
                <select name="IdBenhNhan" id="format">
                    @foreach (var item in Model.benhNhans)
                    {
                        <option selected disabled>Tên bệnh nhân</option>
                        <option value="@item.IdBenhNhan">@item.HoTen</option>
                    }
                </select>
            </div>
            <br />
            <p>Thời gian: <span id="time"></span></p>
            <input type="hidden" id="NgayTao" name="NgayTao" value="">
            <div class="field">
                <input type="submit" value="Tạo phiếu">
            </div>
            <div class="signup-link">
                <a href="/TaoPhieuTiemChung/PhieuTiemChung">Quay lại</a>
            </div>
        </form>
    </div>
    <script>
        $(document).ready(function () {
            var today = new Date();
            var dateTime = today.toISOString().slice(0, 16);
            $('#time').text(dateTime);
            $('#NgayTao').val(dateTime);
        });
    </script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: #fff;
            font-family: 'Open Sans', sans-serif;
            color: #fff;
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            outline: 0;
            box-shadow: none;
            border: 0 !important;
            background: #5c6664;
            background-image: none;
            flex: 1;
            padding: 0 .5em;
            color: #fff;
            cursor: pointer;
            font-size: 1em;
            font-family: 'Open Sans', sans-serif;
        }

            select::-ms-expand {
                display: none;
            }

        .select {
            position: relative;
            display: flex;
            width: 20em;
            height: 3em;
            line-height: 3;
            background: #5c6664;
            overflow: hidden;
            border-radius: .25em;
        }

            .select::after {
                content: '\25BC';
                position: absolute;
                top: 0;
                right: 0;
                padding: 0 1em;
                background: #2b2e2e;
                cursor: pointer;
                pointer-events: none;
                transition: .25s all ease;
            }

            .select:hover::after {
                color: #23b499;
            }
    </style>
</body>
</html>

