@model QLTYT.Models.LichTiemChung

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Admin.css" rel="stylesheet">
<style>
  input[type="text"] {
    width: 100%
  }
</style>
<div class="table-title">

  <h2> Chỉnh sửa thông tin lịch tiêm chủng</h2>
  <Br>
  @using (Html.BeginForm())
  {
    @Html.AntiForgeryToken()

<div class="form-horizontal fz-16">
  <hr />
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })
  @Html.HiddenFor(model => model.IdLichTiemChung)

  <div class="form-group">
    Tên IdVacXin
    <div class="col-md-10">
      <select name="IdVacXin" class="form-select">
        @foreach (var nnv in ViewBag.ListVacXin)
        {
          if (Model.IdVacXin == nnv.IdVacXin)
          {
            <option value="@nnv.IdVacXin" selected="selected">@nnv.TenVacXin</option>
          }
          else
          {
            <option value="@nnv.IdVacXin"> @nnv.TenVacXin </option>
          }
        }
      </select>
    </div>
  </div>

  <div class="form-group">
    Ngày sinh
    <div class="col-md-10">
      <input type="date" id="NgayTiem" name="NgayTiem" value="@ViewBag.NgayTiem" />
      @Html.ValidationMessageFor(model => model.NgayTiem, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    Ghi Chú
    <div class="col-md-10">
      @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    Trạng thái
    <div class="col-md-10">
      <select name="TrangThai" class="form-select">
        @if (Model.TrangThai == true)
        {
          <option value="true" selected="selected">Đang diễn ra</option>
          <option value="true" >Đã kết thúc</option>
        }
        else
        {
          <option value="true" >Đang diễn ra</option>
          <option value="true" selected="selected">Đã kết thúc</option>
        }
        }
      </select>
    </div>
  </div>

  <div class="form-group" style="justify-content:space-between">
    <div class="col-md-offset-2 col-md-10">
      <button class="btn btn-secondary">
        @Html.ActionLink("Quay lại", "Index")
      </button>
      <button class="btn btn-primary" type="submit" data-toggle="tooltip" data-placement="top"
              title="Lưu ">
        Lưu
      </button>
    </div>

  </div>
</div>
  }


</div>