@model IEnumerable<QLTYT.Models.LichTiemChung>

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  string user = (string)TempData.Peek("User");
  string imgnv = (string)TempData.Peek("UserIMG");
}

<link href="~/Content/Admin.css" rel="stylesheet">
<div class="table-title">

  <h2> QUẢN LÝ THÔNG TIN NHÂN VIÊN</h2>
  <br />
  <br />
  <br />
  <button class="nv btn " type="button" data-toggle="tooltip" data-placement="top"
          title="Thêm ">

    <span?>
      @Html.ActionLink("Tạo mới", "ViewCreate")
    </span?>

  </button>
  <br />
  <table class="table-responsive text-nowrap table-bordered" id="myTable">
    <thead>
      <tr class="ex">
        <th>
          Tên vacxin
        </th>
        <th>
          Ngày tiêm
        </th>
        <th>
          Ghi chú
        </th>
        <th>
          Trạng thái
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      @foreach (var item in Model)
      {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.VacXin.TenVacXin)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.NgayTiem)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
          </td>
          <td>
            @if (item.TrangThai == true)
            {
              <p> Đang diễn ra</p>
            }
            else
            {
              <p>Đã kết thúc</p>
            }
          </td>
          <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdLichTiemChung }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdLichTiemChung }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdLichTiemChung })
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>