@model IEnumerable<QLTYT.Models.SP_thaikyResult>

@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Admin.css" rel="stylesheet">
<div class="table-title">

  <h2>THÔNG TIN THAI KỲ CỦA MẸ BẦU CỦA TRẠM </h2>
  <br />
  <br />
  <br />
  <button class="nv btn " type="button" data-toggle="tooltip" data-placement="top"
          title="Xuất">

    <span?>
      @Html.ActionLink("Thêm", "Create")
    </span?>

  </button>
  <br />


  <table class="table-responsive text-nowrap table-bordered" id="myTable">
    <thead>
      <tr class="ex">
        <th>
          @Html.DisplayName("ID")
        </th>
        <th>
          @Html.DisplayName("Họ & Tên")
        </th>
        <th>
          @Html.DisplayName("Ngày sinh")
        </th>
        <th>
          @Html.DisplayName("Tuần tuổi")
        </th>
        <th>
          @Html.DisplayName("Chiều dài của thai nhi (cm)")
        </th>
        <th>
          @Html.DisplayName("Cân nặng của thai nhi (gam)")
        </th>



        <th>
          @Html.DisplayName("Nhắc nhở")
        </th>




      </tr>

      @foreach (var item in Model)
      {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.IdBenhNhan)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.HoTen)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
          </td>
          @*<td>
                @Html.DisplayFor(modelItem => item.CanNang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChieuCao)
            </td>*@
          <td>
            @Html.DisplayFor(modelItem => item.TuanTuoi)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Chiều_dài_thai_nhi)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Cân_nặng_thai_nhi)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
          </td>


        </tr>
      }

  </table>
</div>





